{% block sidebar %}

<style>
        .card{
            box-shadow: 0 16px 48px #E3E7EB;
        }
       
</style>

<!-- Sidebar Widgets Column -->
<div class="col-md-4 float-right ">
<div class="card my-4">
        <h5 class="card-header">About Me</h5>
    <div class="card-body">
        <p class="card-text"> I created this using Django, will update it in future to add more functions ! Stay Tuned</p>
        <a href="https://www.linkedin.com/in/jayant-baghel-612010124/"
           class="btn btn-danger">Follow me on LinkedIn</a>
    </div>
</div>
</div>

{% endblock sidebar %}
